{% extends 'mapa/base.html' %}

{% block title %}Coordenadas{% endblock %}

{% block content %}
    <html>
        <body>
            <h1>Coordenadas</h1>
                <h2>Ascensor</h2>

                {% include './icons/elevator.svg' %}

                {% for item in ascensor %}
                <br>{{ item }}
                {% endfor %}

                <h2>Rampa</h2>

                {% include './icons/ramp.svg' %}

                {% for item in rampa %}
                <br>{{ item }}
                {% endfor %}
        </body>
    </html>
{% endblock %}