{% extends 'mapa/base.html' %}
{% load static %}

{% block headcontent %}
<title>Grupo 14</title>
{% endblock %}

{% block bodycontent %}
    <h1>Esta es la página para encontrar rutas</h1>
    <div class="btn-help" id="btnHelp">?</div>
    <div class="help-title" id="helpTitle">
        <h2 id="heading">¿Necesitas ayuda?</h2>
    </div>
    <div class="help-body" id="helpBody">
        <p id="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque officiis atque dolore inventore architecto cupiditate unde sit explicabo voluptatem. Repellat culpa consequuntur minus? Doloribus a quisquam nam sint velit dolorem.</p>
    </div>
{% endblock %}